@media (min-width:2000px) {
    /* .front___div{
        height: 800px;
        width: 1200px;
        display: flex;  
    }    
    .front__button__start{
        width: 450px;
    }   
    .front__button__choose{
        width: 450px;
    } 
    #letras>span {
        font-size: 10rem;
        padding: 0px;
        margin: 10px;
        /* width: 20px; 
    }
    */
}

@media (max-width:1300px) {
    .front___div{
        height: 400px;
        width: 700px;
        display: flex;  
    }    
    .front__button__start{
        width: 250px;
    }   
    .front__button__choose{
        width: 250px;
    } 
    #letras>span {
        font-size: 2.5rem;
        padding: 0px;
        margin: 10px;
        width: 20px;
    }  
}

@media (max-width:1000px) {
    .play-div{
        flex-direction: column;
        justify-content: center;

    }
    .imgPlay{
        width: 100%;
        height: 50%;
    }
    .imgPlay>img{
        width: auto;
        height: 80%;    
    }
    .textPlay{
        width: auto;
        justify-content: center;

    }
    .word{
        font-size: 4rem;
    }

/* keyboard */
    #container{
        width: 80%;
    }
    #letras>span {
        font-size: 4rem;
        width: auto;
        padding: 6px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 15px;
    }   
}

@media (max-width:821px) {
    .front{
    justify-content: center;
    align-items: center;
    }
    .front__logo__text{
        font-size: 4rem;
    }
    .front__logo__guion{
        font-size: 4rem;
    }
    

}

@media (max-width:700px) and (min-height:600px) {
    .front___div{
        flex-direction: column;
        width: 80%;
        height: 90%;
        align-items: center;
        justify-content: center;
    }
    .front__logo{
        width: 100%; 
        height: auto;
    }
    .front__logo-text{
        height: auto;
    }
    .front__button{
        width: 80%;
        height: auto;
        margin-top: 20px;
    }
    

    .play-div{
        flex-direction: column;
        justify-content: center;

    }
    .imgPlay{
        width: 100%;
        height: 50%;
    }
    .imgPlay>img{
        width: auto;
        height: 80%;    
    }
    .textPlay{
        width: auto;
        justify-content: center;
    }
    .word{
        font-size: 1.5rem;
        letter-spacing: 0.8rem;
    }

/* keyboard */
    #container{
        width: 95%;
    }
    #letras>span {
        font-size: 2.5rem;
        width: auto;
        padding: 6px;
        padding-top: 0px;
        padding-bottom: 0px;
        margin: 5px;
    }
}


@media (max-width:360px){
    .front__logo__text{
        font-size: 3rem;
    }
    .front__logo__guion{
        font-size: 3rem;
    }
}